<h3>search friends</h3>
<%= form_for @friends do |f| %>
<%= f.label :email %>
  <%= f.text_field :email %><br />
<%= link_to "Search", getuser_user_friendship_path(f.user,f), :method => :post %>  
 <% end %>

<h3>friend Requests</h3>
<% unless @requests.count < 0 %>
	<% @requests.each { |r| %>
		<%= image_tag(r.user.avatar_url, :width => 60, :height => 60) %>
		<b><%= link_to r.user.first_name, user_path(r.user) %></b>
		<%= link_to "Accept", accept_user_friendship_path(r.user,r), :method => :post %>
		<%= link_to "Reject", reject_user_friendship_path(r.user,r), :method => :post %>
	<% } %>	
<% else %>
	<h4>You have no friend requests</h4>
<% end %>	

<h3>Friends</h3>
<% unless @friends.count < 0 %>
	<% @friends.each { |r| %>
		<%= image_tag(r.user.avatar_url, :width => 60, :height => 60) %>
		<b><%= link_to r.user.first_name, user_path(r.user) %></b>
		<%= link_to "Remove as friend", user_friendship_path(current_user,r) , :method => :delete %>
	<% } %>	
<% else %>
	<h4>You have friends</h4>
<% end %>