<!DOCTYPE html>
<html>
<head>
  <title>Vvce</title>
  <%= stylesheet_link_tag :all, :scaffold, :grid, :style %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="row">
		<div class="column grid_14">
			<div id="header"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="column grid_14">
			<div class="notifications">
				<p class="notice"><%= notice %></p>
			  <p class="alert"><%= alert %></p>
			</div>
		</div>	
	</div>
	
	<div class="row">
		<div class="column grid_4">
			<% if user_signed_in? %>
			<ul>
				<li><%= link_to "Home", home_user_path(current_user)%></li>
				<li><%= link_to "Profile", user_path(current_user) %></li>
				<li><%= link_to "Friends", user_friendships_path(current_user)%></li>
				<br/>
				<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
				<li><%= link_to "Logout", destroy_user_session_path %></li>	
			</ul>
			<% else %>
				&nbsp;
			<% end %>	
		</div>
		<div class="column grid_10">
			<%= yield %>
		</div>	
</body>
</html>
