<!DOCTYPE html>
<html>
<head>
  <title>Vvce</title>
  <%= stylesheet_link_tag :all, :scaffold, :grid, :style %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="row">
		<div class="column grid_14">
			<div id="header"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="column grid_14">
			<div class="notifications">
				<p class="notice"><%= notice %></p>
			  <p class="alert"><%= alert %></p>
			</div>
		</div>	
	</div>
	
	<div class="row">
		<div class="column grid_4">&nbsp;</div>
		<div class="column grid_10">
			<%= yield %>
		</div>	
</body>
</html>
